*{
    margin: 0;
    padding: 0;
}
.section{
    height: 100vh;
}
@import "./global/navbar.scss";

.card-section{
    display: flex;

    .left{
        width: 50%;
        background-color: rgb(228, 228, 228);

        .category{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .category-btn{
            display: flex;
            align-items: center;
            gap: .5rem;
            border: 1px solid black;
            width: auto;
            padding-inline: .5rem;
            padding-block: .3rem;
            border-radius: .3rem;
            font-weight: 700;
            margin-left: 3rem;
            margin-top: 1rem;
        }

        .category-ruler{
            margin-top: 1rem;
        }

        .gallery{
            display: flex;
            justify-content: center;
            padding-bottom: 4rem;
        }

        .product-view{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            background-color: rgb(200, 200, 200);
            padding-block: 1.5rem;

            img{
                border: none;

                &:hover{
                    border: 2px solid black;
                }
            }
        }
    }

    .right{
        width: 50%;
        padding-inline: 3rem;

        .path{
            display: flex;
            justify-content:flex-end ;
            padding-top: 1rem;

            .item{
                color: rgb(10, 186, 10);
                padding-inline: .3rem;
            }
        }

        .product{
            color: rgb(2, 101, 71);
            padding-block: 2rem;

            .product-head{
                font-size: 1.7rem;
            }

            .prod-color{
                font-size: 1.3rem ;
                padding-top: .3rem;
            }
        }

        .rating{
            display: flex;
            justify-content: flex-end;
            padding-bottom: 2rem;
        }

        .line{
            background-color: grey;
            margin-block: 1rem;
        }
        .texture{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .col-text{
                display:flex; 
                gap: 2rem;
                align-items: center !important;
                .product-color{
                    color: rgb(2, 101, 71);
                    font-size: 1.3rem;
                }
            }
        }
        .custom{
            display: flex;
            justify-content: space-between;
            padding-block: .5REM;
            padding-right: 3rem;
            .custom-head{
                display: flex;
                align-items: center;
            }
            .custom-body{
                display: flex;
                flex-direction: column;

                .top{
                    font-size: 1.3rem;
                    color: rgb(2, 101, 71);
                }
            }
            .btn-class{
                display: flex;
                justify-content: flex-start;
            }
            .btn{
                padding-inline: 2rem;
                padding-block: .5rem;
                background-color: rgb(14, 208, 14);
                border: 1px solid  rgb(14, 208, 14);
                color: #ffff;
                border-radius: .5rem;
                font-size: 1rem;
            }
        }
        .quantity{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: .5rem;

            .qua-head{
                display: flex;
                align-items: center;
            }
            .qua-body{
                display: flex;
                gap: 2rem;

                .left1{
                    display: flex;
                    color: rgb(2, 2, 123);
                    .dollar{
                        color: red;
                    }
                    del{
                        text-decoration-color: red;
                        padding-left: .5rem;
                    }
                }
                .right1{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }

        .price{
            display: flex;
            justify-content: center;
            gap: 3rem;
            font-size: 2rem;
            font-weight: 600;

            .price-drop{
                color: red;
            }
            del{
                text-decoration-color: red;
            }
        }
        .cart-btn{
            display: flex;
            justify-content: center;
            padding-block: 1rem;
            .btn1{
                background-color: rgb(38, 108, 88);
                color: #ffff;
                font-size: 1rem;
                padding-inline: 10rem;
                padding-block: 1rem;
                border: 1px solid  rgb(38, 108, 88);
                border-radius: .5rem;
            }

        }
        .tags{
            display: flex;
            justify-content: center;
            gap: 2rem;

            a{
                color: black !important;
            }
        }
    }
}