* {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
}

.navbar {
  background-color: rgb(172, 222, 205);
}
.navbar .nav-top {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  align-items: center;
}
.navbar .options {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 1rem;
}
.navbar .search {
  display: flex;
  align-items: center;
  border: 2px solid rgb(28, 115, 28);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  gap: 2rem;
  padding-block: 0.2rem;
  background-color: rgba(186, 184, 184, 0.5);
}
.navbar .search input {
  outline: none;
  border: none;
  width: 20rem;
  height: 2rem;
  background-color: transparent;
}
.navbar .nav-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.navbar .text {
  font-size: 0.75rem;
}
.navbar .user {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}
.navbar .nav-bottom {
  display: flex;
  gap: 2.5rem;
  justify-content: flex-start;
  padding-inline: 6rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
.navbar .nav-bottom .nav-elements {
  font-weight: 100;
  color: rgb(77, 76, 76);
}

.card-section {
  display: flex;
}
.card-section .left {
  width: 50%;
  background-color: rgb(228, 228, 228);
}
.card-section .left .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-section .left .category-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid black;
  width: auto;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  border-radius: 0.3rem;
  font-weight: 700;
  margin-left: 3rem;
  margin-top: 1rem;
}
.card-section .left .category-ruler {
  margin-top: 1rem;
}
.card-section .left .gallery {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.card-section .left .product-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(200, 200, 200);
  padding-block: 1.5rem;
}
.card-section .left .product-view img {
  border: none;
}
.card-section .left .product-view img:hover {
  border: 2px solid black;
}
.card-section .right {
  width: 50%;
  padding-inline: 3rem;
}
.card-section .right .path {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.card-section .right .path .item {
  color: rgb(10, 186, 10);
  padding-inline: 0.3rem;
}
.card-section .right .product {
  color: rgb(2, 101, 71);
  padding-block: 2rem;
}
.card-section .right .product .product-head {
  font-size: 1.7rem;
}
.card-section .right .product .prod-color {
  font-size: 1.3rem;
  padding-top: 0.3rem;
}
.card-section .right .rating {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
.card-section .right .line {
  background-color: grey;
  margin-block: 1rem;
}
.card-section .right .texture {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-section .right .texture .col-text {
  display: flex;
  gap: 2rem;
  align-items: center !important;
}
.card-section .right .texture .col-text .product-color {
  color: rgb(2, 101, 71);
  font-size: 1.3rem;
}
.card-section .right .custom {
  display: flex;
  justify-content: space-between;
  padding-block: 0.5REM;
  padding-right: 3rem;
}
.card-section .right .custom .custom-head {
  display: flex;
  align-items: center;
}
.card-section .right .custom .custom-body {
  display: flex;
  flex-direction: column;
}
.card-section .right .custom .custom-body .top {
  font-size: 1.3rem;
  color: rgb(2, 101, 71);
}
.card-section .right .custom .btn-class {
  display: flex;
  justify-content: flex-start;
}
.card-section .right .custom .btn {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  background-color: rgb(14, 208, 14);
  border: 1px solid rgb(14, 208, 14);
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.card-section .right .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
}
.card-section .right .quantity .qua-head {
  display: flex;
  align-items: center;
}
.card-section .right .quantity .qua-body {
  display: flex;
  gap: 2rem;
}
.card-section .right .quantity .qua-body .left1 {
  display: flex;
  color: rgb(2, 2, 123);
}
.card-section .right .quantity .qua-body .left1 .dollar {
  color: red;
}
.card-section .right .quantity .qua-body .left1 del {
  text-decoration-color: red;
  padding-left: 0.5rem;
}
.card-section .right .quantity .qua-body .right1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card-section .right .price {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 2rem;
  font-weight: 600;
}
.card-section .right .price .price-drop {
  color: red;
}
.card-section .right .price del {
  text-decoration-color: red;
}
.card-section .right .cart-btn {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}
.card-section .right .cart-btn .btn1 {
  background-color: rgb(38, 108, 88);
  color: white;
  font-size: 1rem;
  padding-inline: 10rem;
  padding-block: 1rem;
  border: 1px solid rgb(38, 108, 88);
  border-radius: 0.5rem;
}
.card-section .right .tags {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.card-section .right .tags a {
  color: black !important;
}/*# sourceMappingURL=style.css.map */